@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.header-main {
    background-image: url("/img/bg_1.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;

}



ul {
    display: flex;
}

ul>li>a{
    color: white;
    padding-left: 25px;
    white-space: nowrap;
}

/* ul li:last-child {
    padding-left: 50px;
} */

.navbar {
    display: flex;
    justify-content: space-around;
    
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.gradient {
    position: absolute;
    background: linear-gradient( #1B1B1B 20.85%, rgba(27, 27, 27, 0.535551) 52.78%, rgba(27, 27, 27, 0.18) 76.28%, rgba(27, 27, 27, 0) 99.66%);

height: 150px;
width: 100%;
}

.gradient2 {
    background: linear-gradient(357.33deg, #1B1B1B 22.15%, rgba(27, 27, 27, 0.535551) 56.13%, rgba(27, 27, 27, 0.18) 81.14%, rgba(27, 27, 27, 0) 106.02%);
height: 104px;
width: 100%;
bottom: 0;
position: absolute;
}

.container {
padding: 0 200px;

}

.filters {
    display: flex;
    justify-content: space-between;
}

.nav_tab {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.btn {
    padding: 12px 24px;
    border-radius: 10px;
    margin-left: 30px;
    font-weight: 600;
    
}

header p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 63px;
    line-height: 139.52%;
    /* or 89px */

    letter-spacing: 0.03em;

    /* w */

    color: #FFFBFB;
}

span {
    color: orange;
}

.text {
    max-width: 865px;
    height: 178px;
    margin-top: 230px;
}

main {
    background: #1B1B1B;
}


.card-container {
    color: white;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.house1 {
    background-image: url('/img/house1.png');
    background-position: center;
    background-size: cover;
    max-width: 577px;
    height: 450px;
}

.house2 {
    background-image: url('/img/house2.png');
    background-position: center;
    background-size: cover;
    max-width: 577px;
    height: 450px;
}

.house3 {
    background-image: url('/img/house3.png');
    background-position: center;
    background-size: cover;
    max-width: 577px;
    height: 450px;
}

.house4 {
    background-image: url('/img/house4.png');
    background-position: center;
    background-size: cover;
    max-width: 577px;
    height: 450px;
}

.house5 {
    background-image: url('/img/house5.png');
    background-position: center;
    background-size: cover;
    max-width: 577px;
    height: 450px;
}

.house6 {
    background-image: url('/img/house6.png');
    background-position: center;
    background-size: cover;
    max-width: 577px;
    height: 450px;
}

.card-body{
    width: 577px;
    height: 582px;

}

.line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.line2 {
    display: flex;
    justify-content: center;

}

.button {
    padding: 5px 10px;
    border-radius: 7px;
    border: none;
}

.about {
    max-width: 580px;
height: 132px;
background: #2C2B2B;
border-radius: 0px 0px 8px 8px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
  }
  table tr td,
  table tr td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-radius: 6px;
    padding: 5px;
  }

  table tr td:first-child {
    border-left: 1px solid #bbb;
  }

  table tr td:first-child {
    border-left: 1px solid #bbb;
  }

  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  /* bottom-right border-radius */
  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  table tr:last-child td:last-child {
    border-top-right-radius: 6px;
  }

  .more {
    display: grid;
    justify-content: center;
    color: #fff;
    justify-items: center;
    margin-top: 15px;
  }

  .map-w {
    max-width: 100%;
    width: 100%;
  }

.down {
    display: grid;

}

.about-us {
    background-image: url('/img/image16.png');
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 70vh;
}

.about-us h2 {
    font-size: 32px;
    color: #FF9505;
}

.about-us p {
    color: #fff;
    font-size: 16px;
}

@media only screen and (min-width:768px) {


}